body {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Avenir', sans-serif;
  background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  background-attachment: fixed;
}

i.fa.fa-pagelines {
  color: #FAE25E
}

.jumbotron {
 margin-top: 56px;
 background-color: #ebeae6;
 border-radius: 0;
}

.bg-light {
  background-color: white !important;
}

h1 {
  color: #505464 !important;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 5em;
  margin-bottom: -10px;
}

.submit-text {
  color: #505464 !important;
  font-family: 'Chelsea Market', cursive;
  font-size: 1.5em;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Chelsea Market', cursive;
}

h2, .product-header, .product-categories {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  color: #7c7766;
}

a:hover {
  text-decoration: none;
  color: #57575f;
}

p, .navbar {
  font-family: 'Josefin Sans', sans-serif;
}


.text-muted {
  color: #888da0 !important;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  color: #888da0 !important;
  font-family: 'Josefin Sans', sans-serif;
}

.text-stronger {
  color: #777d92 !important;
}

.priceText {
  font-weight: bold;
}

.lessSpace {
  line-height: .1;
  color: white !important;
}

.moreSpace {
  margin-top: 45px;
  padding-top: 40px;
}

div#content {
  margin-top: 100px;
}

.card {
  /*background-image: url("images/Owl.jpg");*/
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  border: 0;
  border-radius: 0;
}

.card-body {
  height: auto;
  background-color: rgba(235, 234, 230, 0.85);
  border: none;
  margin: 30px;
}

 .jumbotron-heading, .navbar, .card-body, .card {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: transform .3s ease-in-out;
 }

.jumbotron-heading:hover {
  transform: scale(1.1);
}

.card-body:hover, .card:hover {
  transform: scale(1.01);
}

.navbar:hover {
  transform: scale(1.01);
}

.space {
  height: 700px;
}

select:invalid,
select option[value=""] {
}

.btn-light {
  background-color: #505464;
  border-color: #505464;
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 1em;
}

.marginSpace {
  margin-top: 20px;
}

.mb-3, .my-3 {
  margin-bottom: .5rem!important
}

@media only screen and (max-device-width: 480px) {
  h1 {
    color: #505464 !important;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 3em;
    margin-bottom: -5px;
  }
 .moreSpace {
   margin-top: 10px;
 }
 div#content {
   margin-top: 65px;
 }
}

@media screen and (min-width:480px) and (max-width:767px){
   div#content {
     margin-top: 70px;
     margin-bottom: 70px;
   }
   h1 {
     font-size: 3em;
   }
   .moreSpace {
     margin-top: 10px;
   }
   .lessSpace {
     line-height: 1;
   }
}
